@import url(./variables.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bckColor);
  background-image: url("./assets/images/bgck-snow.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  padding: 0 2rem;
}

h1,
p {
  font-family: var(--textFont);
}

h1 {
  color: var(--primaryColor);
}

p {
  color: var(--light);
}
.calendarBox {
  display: flex;
  justify-content: space-evenly;
}
