@import url(./variables.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bckColor);
  background-image: url('./assets/images/bgck-snow.jpg');
  background-size: cover;
  background-blend-mode: overlay;
}

h1 {
  color: var(--primaryColor);
}

p {
  color: var(--light);
}