@import url(../../variables.css);

.footer {
  color: var(--light);
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.footer a {
  color: var(--light);
}
